body{
    background-color: lightgray;
    margin: 0%;
    padding: 0%;
}
.footer {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* border: 3px solid black; */
    align-items: center;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.circle img {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Menambahkan properti ini */
}

.informasi_content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}
    
.informasi_pendaftar {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    height: auto;
    margin: 15px 10%;
    border-radius: 8px;
    padding: 1% 2%;

}
.informasi_pendaftar h5 {
    padding-top: 20px;
}

.titik_koordinat{
    display: flex;
}
.titik_koordinat input{
    flex-grow: 1;
}
    
.informasi_pendaftar input{
    padding: 15px;
    border: 1px grey solid;
    border-radius: 5px;        
}

.informasi_pendaftar img{
    padding: 0% 1%;
}