body{
    background-color: lightgray;
    margin: 0%;
    padding: 0%;
}
.footer {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    border: 3px solid black;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.circle img {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Menambahkan properti ini */
}

.informasi_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.informasi_pendaftar {
    background-color: white;
    width: 70%;
    height: auto;

}