@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  transition: 0.2s linear;
}

:root {
  --font-title: #2A2A2A;
  --font-bodytext: #2A2A2A;
  --font-desc: #939393;
  --background: #fff;
  --link: #00C0CA;
  --font-family: 'DM Sans', sans-serif;
  --secondary-light: rgb(34, 124, 112, 0.2);
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

html::-webkit-scrollbar {
  width: 0;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

img {
  width: 100%;
}

body {
  color: var(--font-title);
  background-color: var(--background);
  font-family: "DM Sans", sans-serif;
}

/* typography */

.headline{
    color: var(--black, #2A2A2A);
    font-family: var(--font-family);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.headline-desc {
    color: var(--font-desc);
    font-size: 28px;
    font-family: var(--font-family);
    font-weight: 400;
    word-wrap: break-word;
  }
.title {
  color: var(--font-title);
  font-size: 32px;
  font-family: var(--font-family);
  font-weight: 700;
  word-wrap: break-word;
}

.desc {
  color: var(--font-desc);
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  word-wrap: break-word;
}

.bodytext {
  color: var(--font-bodytext);
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  word-wrap: break-word;
  line-height: 150%;
}

/*page navigation*/
.navigation {
    font-family: var(--font-family);
    font-size: 14px;
}

.navigation-container {
    display: flex;
    padding: 12px 92px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    max-width: 100%;
}

.nav-link {
    text-decoration: none;
    color: var(--font-desc);
    transition: color 0.3s, opacity 0.3s;
}
  
.nav-link.active {
    color: var(--font-bodytext);
}
  
.nav-link:hover {
    opacity: 0.8;
}
  
.separator {
    margin: 0 5px;
    color: var(--font-desc);
}

/*button*/
.secondary-button {
  padding: 16px 20px;
  border-radius: 8px;
  border: 1px #00C0CA solid;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  font-family: var(--font-family);
  color:#00C0CA;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #008489;
}

/*section layout*/
.layout-section{
  margin-left:92px;
  margin-right: 92px;
  margin-top: 80px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.layout-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.layout-section-title{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.layout-card {
  display: inline-block;
  gap: 16px;
  margin-right: 24px;
}
/*card container*/
.card-container {
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 24px; 
  display: inline-flex;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.card-layout {
  max-height: 100%;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 28px; 
  display: inline-flex
}

.card img{
  width: 262px; 
  height: 262px; 
  position: relative; 
  background: linear-gradient(0deg, black 0%, black 100%);
  border-radius: 8px;
  object-fit: cover;
}

.card-info{
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 16px; 
  display: flex
}
.card-title{
  color: #000;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rating{
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 12px; 
  display: inline-flex
}

.fa-star {
  color: #FF7A00; 
  font-size: 14px;
}

.rating-value {
  color: #939393; 
  font-size: 14px;
  font-family: var(--font-family); 
  font-weight: 800; 
  word-wrap: break-word; 
}

.reviews {
  color: #939393; 
  font-size: 14px; 
  font-family: var(--font-family); 
  font-weight: 500; 
  word-wrap: break-word; 
}

.price {
  color: black;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  word-wrap: break-word;
}

/*banner slider*/
.slider-wrapper {
    position:relative;
    max-width: 86%;
    overflow: hidden;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* promo section ends*/

header {
  position: fixed;
  background-color: var(--background);
  width: 100%;
  max-width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
  transition: 0.5s;
  box-shadow: var(--shadow);
}

header a,
header .menu,
.profile .search {
  color: #2A2A2A;
}

.logo {
  width: 200px;
  padding: 0 100px 0 0;
  object-fit: cover;
  object-position: center;
}

.header .profile {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  cursor: pointer;
  font-weight: 700;
}

.profile .special {
  background-color: #00C0CA;
  padding: 10px 35px;
  border-radius: 50px;
  color: var(--background);
}

.profile .special:hover {
  background-color: #00c0ca85;
  color: var(--background);
}

.navbar {
  display: flex;
  column-gap: 3rem;
}

.navbar a {
  font-weight: 300;
}

.profile .search:hover {
  color: var(--font-desc);
  transition: 0.03s linear;
}

.navbar a:hover,
.profile a:hover {
  color: var(--font-desc);
}

.navbar a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid var(--font-desc);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar a:hover::after {
  transform: scaleX(0.5);
}

#ham-menu {
  cursor: pointer;
  z-index: 1001;
  display: none;
}

/*profile logged in navbar*/
.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: fit-content;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  border: 1px solid #939393;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
}

.profile-img {
  position: relative;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: #008489;
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: greenyellow;
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid #939393;
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: #00c0ca2d;
}
.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  width: 40rem;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--font-desc);
  transform: scaleY(0);
  transform-origin: 0;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  color: var(--background);
  background-color: var(--font-desc);
  height: 100%;
  width: 100%;
  padding: 1rem;
  text-transform: none;
}

.header .search-form .search {
  cursor: pointer;
  margin-right: 1.5rem;
  color: var(--background);
}

.header .search-form .search:hover {
  color: var(--font-title);
}

.bgphoto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.image-wrapper {
  position: relative;
  height: 100%;
}

.image-link {
  display: block;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  transition: filter 0.3s ease-in-out;
}

.image:hover {
  filter: brightness(75%);
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 36px;
  font-size: 20px;
  background-color: transparent;
  color: white;
}

.title-wrapper {
  position: relative;
  display: flex;
  margin: 3rem 0 0 0;
  width: 100%;
  padding: 0.5rem 7%;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper .title h1 {
  font-weight: 700;
  font-size: 35px;
}

.title-wrapper .title p {
  font-weight: 300;
  padding: 1rem 0;
}

.container {
  margin-top: 60px;
  max-width: 100%;
}

.wrapper {
  position: relative;
  max-width: 100%;
  padding: 0.5rem 0 0.5rem 7%;
}

.pencarian .kotak-pencarian {
  padding: 1rem 10rem;
  border-radius: 10px;
  margin-right: 20px;
  border: var(--font-title) solid 1px;
  color: var(--font-desc);
  text-align: center;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 100%;
  background: #00C0CA;
  color: var(--background);
  margin-top: 80px;
  padding: 0.5rem 7%;
}

.row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col .logo-footer {
  width: 7rem;
  margin-bottom: 7px;
}

.col p {
  margin-bottom: 20px;
  font-weight: 300;
}

.col a {
  color: inherit;
  transition: 0.1s ease;
}

.col a i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col a:hover {
  color: var(--font-desc);
}

.col h3 {
  margin-bottom: 15px;
}

.col .input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--background);
}

.input-box button {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding: 4px;
  background: #00C0CA;
  border-radius: 7px;
  color: var(--background);
  cursor: pointer;
}

.lisensi p {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 991px) {
  #ham-menu {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    display: block;
    top: 100%;
    right: -100%;
    background-color: var(--font-title);
    width: 17rem;
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--background);
    display: block;
    padding: 1rem 0 2rem 1rem;
    position: relative;
  }

  .navbar a:hover {
    color: var(--background);
    background-color: rgba(255, 255, 255, 0.2);
  }

  .navbar a::after {
    transform: scaleX(0);
  }

  .navbar a:hover::after {
    transform: scaleX(0);
  }
}

/*promo*/
.promo-image {
	max-width: 100%;
}

.promo-title-container{
	display: flex;
	padding: 60px 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	max-width: 100%;
	background-color: #fff;
	margin-bottom: 24px;
}

.promo-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	max-width: 100%;
}

.promo-desc-container {
	display: flex;
	padding: 60px 92px;
	flex-direction: column;
	align-items: flex-start;
	gap: 51px;
	background-color: #fff;
	max-width: 100%;
	margin-bottom: 24px;
}

.promo-detail-container .promo-detail ul.custom-bullet-list {
  list-style-type: disc !important;
  padding-left: 20px !important;
}




/* ============================================= Bagian Sistem Umpan Balik ============================================= */
.ulasan-header {
  width: auto;
  height: 500px;
	position: relative;
  
}

.ulasan-header img {
	object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
	
}

.ulasan-header h1 {
	position: absolute;
	top: 45%;
	left: 26%;
	z-index: 1;
	color: white;
	font-size: 50px;
}

.list-ulasan-destinasi-text {
	padding-top: 50px;
  background-color: rgb(255, 255, 255);
  margin-left: 3.5%;
}
.list-ulasan-destinasi-text p {
	padding: 10px 0px;
}

.list-ulasan-destinasi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60%;

}

.card_ulasan {
  width: 325px;
  height: 456px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card_img{
  background-color: #00C0CA;
  /* object-fit: cover; */
  width: 465;
  height: 310px;
}

.card_img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content-ulasan {
  padding: 16px;
}

#btn-ulasan{
  background-color: white;
}

.card-content-ulasan h3 {
  /* white-space: nowrap; */
  overflow: hidden;
  display: -webkit-box;
  /* text-overflow: ellipsis; */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 20px;
  margin-bottom: 8px;
}

.card-content-ulasan h5{
  color: black;
  font-size: 15px;
  line-height: 1.3;
}

.card-content-ulasan h5 i {
  color: orange;
}

.card-content-ulasan .btn{
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #00C0CA;

}

.card-content-ulasan i {
  color: #00C0CA;
  padding: 0px 10px;
  float: left;
}

/* ============================================== History ================================================================ */
.history-header {
  width: auto;
  height: 500px;
	position: relative;
  
}

.history-header img {
	object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
	
}

.history-header h1 {
	position: absolute;
	top: 45%;
	left: 26%;
	z-index: 1;
	color: white;
	font-size: 50px;
}

.list-history-destinasi-text {
	padding-top: 50px;
  background-color: rgb(255, 255, 255);
  margin-left: 3.5%;
}
.list-history-destinasi-text p {
	padding: 10px 0px;
}

.list-history-destinasi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60%;

}

.card_history {
  width: 325px;
  height: 456px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card_img_history{
  background-color: #00C0CA;
  /* object-fit: cover; */
  width: 465;
  height: 310px;
}

.card_img_history img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content-history {
  padding: 16px;
}

#btn-history{
  background-color: white;
}

.card-content-history h3 {
  /* white-space: nowrap; */
  overflow: hidden;
  display: -webkit-box;
  /* text-overflow: ellipsis; */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 20px;
  margin-bottom: 8px;
}

.card-content-history h5{
  color: black;
  font-size: 15px;
  line-height: 1.3;
}

.card-content-history h5 i {
  color: orange;
}

.card-content-history .btn{
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #00C0CA;

}

.card-content-history i {
  color: #00C0CA;
  padding: 0px 10px;
  float: left;
}

/* ============================================== Wishlist ================================================================ */
.history-header {
  width: auto;
  height: 500px;
	position: relative;
  
}

.history-header img {
	object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
	
}

.history-header h1 {
	position: absolute;
	top: 45%;
	left: 26%;
	z-index: 1;
	color: white;
	font-size: 50px;
}

.list-history-destinasi-text {
	padding-top: 50px;
  background-color: rgb(255, 255, 255);
  margin-left: 3.5%;
}
.list-history-destinasi-text p {
	padding: 10px 0px;
}

.list-history-destinasi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60%;

}

.card_history {
  width: 325px;
  height: 456px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card_img_history{
  background-color: #00C0CA;
  /* object-fit: cover; */
  width: 465;
  height: 310px;
}

.card_img_history img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content-history {
  padding: 16px;
}

#btn-history{
  background-color: white;
}

.card-content-history h3 {
  /* white-space: nowrap; */
  overflow: hidden;
  display: -webkit-box;
  /* text-overflow: ellipsis; */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 20px;
  margin-bottom: 8px;
}

.card-content-history h5{
  color: black;
  font-size: 15px;
  line-height: 1.3;
}

.card-content-history h5 i {
  color: orange;
}

.card-content-history .btn{
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #00C0CA;

}

.card-content-history i {
  color: #00C0CA;
  padding: 0px 10px;
  float: left;
}

/* ============================================= Bagian Informasi Statistik ============================================= */
.statistik-header {
  width: auto;
  height: 500px;
	position: relative;
  /*border: 5px solid rgb(153, 2, 184); /* Tambahkan border untuk melihat batas elemen */
  
}

.statistik-header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(70%);

}

.statistik-header h1 {
  position: absolute;
  top: 45%;
  left: 35%;
  z-index: 1;
  color: white;
  font-size: 50px;
}

.metrics_summary {
  display: flex;
  margin: 2% 3%;
  padding: 10px;
  justify-content: space-evenly;
  border: 1px solid lightgrey; /* Tambahkan border untuk melihat batas elemen */
  border-radius: 10px;
}

.bi.bi-people, .bi-backpack, .bi-check2-circle {
  color: #347AE2;
}


.total_visitor {
  flex-grow: 1;
  position: relative;
  border-right: 2px solid lightgrey;
  padding-left: 5%;
}

.total_visitor *, .total_purchase_tickets *, .profits * {
  padding: 5px;
}

.bi-arrow-up-right {
  color: #34c756;
}
.bi-arrow-down-left {
  color: #ff3b30;
}

.total_visitor .item_box {
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(160, 160, 160, 0.5);
  right: 15px;
  top: 1px;
  display: flex; /* Membuat kontainer flex */
  align-items: center; /* Menengahkan vertikal */
  justify-content: center; /* Menengahkan horizontal */
}

.nps_chart h1 {
  position: absolute;
}


.total_purchase_tickets .item_box {
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(160, 160, 160, 0.5);
  right: 15px;
  top: 1px;
  display: flex; /* Membuat kontainer flex */
  align-items: center; /* Menengahkan vertikal */
  justify-content: center; /* Menengahkan horizontal */
}

.profits .item_box {
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(160, 160, 160, 0.5);
  right: 15px;
  top: 1px;
  display: flex; /* Membuat kontainer flex */
  align-items: center; /* Menengahkan vertikal */
  justify-content: center; /* Menengahkan horizontal */
}


.total_purchase_tickets {
  position: relative;
  padding-left: 7%;
  flex-grow: 1;
}

.profits {
  flex-grow: 1;
  border-left: 2px solid lightgrey;
  padding-left:5%;
  position: relative;
}

.main_chart{
  width: auto;
  height: auto;
  margin: 2% 3%;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.chart_header {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
}

.chart_header h3 {
  flex-grow: 1;
}

.chart_header h5.category {
  width: 210px;
}


.custom_chart {
  width: auto;
  height: 700px;
}

.bottom_charts {
  display: flex;
  width: auto;
  margin: 2% 3%;
  justify-content: space-around;
}

.nps_chart {
  display: flex;
  justify-content: center; /* Menyamakan konten secara horizontal */
  align-items: center; /* Menyamakan konten secara vertikal */
  width: 30%;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  position: relative; /* Diperlukan untuk menggunakan position: absolute; di dalamnya */
}



.others_rating {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  /* justify-content: space-between; */
}

.row_rating {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 5%;
}

.rate * {
  padding: 10px;
}

.rate {
  width: 200px;
  height: 150px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.rate h2{
  font-size: 25px;
}
.rate h4{
  font-size: 20px;
}


/* ============================================= Bagian Ekplore Objek Wisata ============================================= */

.list-eksplore-wisata {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
 /* Tambahkan border untuk melihat batas elemen */
  width: 100%;
  height: 60%; /* Menetapkan z-index untuk memastikan elemen ini di bawah elemen lain */

}

.rekomendasi-title {
  text-align: left; /* Memposisikan teks di tengah secara horizontal */
  margin-top: 20px;  /* Menggeser teks ke bawah */
  margin-left: 10px;
  margin-bottom: 1px; /* Memberikan jarak bawah antara h2 dan elemen berikutnya */
  /* font-size: 24px; Mengatur ukuran font */
  color: #333; /* Mengatur warna teks */
}

.add-title {
  text-align: left; /* Memposisikan teks di tengah secara horizontal */
  /* margin-top: 50px;  Menggeser teks ke bawah */
  margin-left: 10px;
  margin-bottom: 10px; /* Memberikan jarak bawah antara h2 dan elemen berikutnya */
  font-size: 13px; /* Mengatur ukuran font */
  color: #333; /* Mengatur warna teks */
}

.card {
  width: 325px;
  height: 456px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card_img{
  background-color: #00C0CA;
  /* object-fit: cover; */
  width: 465;
  height: 310px;
}

.card_img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  /* white-space: nowrap; */
  overflow: hidden;
  display: -webkit-box;
  /* text-overflow: ellipsis; */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 20px;
  margin-bottom: 8px;
}

/* ============================================= Bagian Pencarian Wisata ============================================= */

.row-search {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.btn {
  background-color: #00C0CA;
}

/* ============================================= Bagian Kelola Wisata ============================================= */

.card-custom {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 70px;

}

.card-header {
  color: #000;
}

.form-row {
  max-width: 600px;
  margin: 10px auto;
}