  * {
    font-family: var(--font-family);
  }
  
  .button-container {
    text-align: center;
  }
  
  .button-container button {
    display: inline-block;
    margin: 5px;
  }

  .rating{
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
    display: center;
  }
  
  .fa-star {
    color: #FF7A00; 
    font-size: 14px;
  }
  
  .rating-value {
    color: #939393; 
    font-size: 14px;
    font-family: var(--font-family); 
    font-weight: 800; 
    word-wrap: break-word; 
  }
  
  .reviews {
    color: #939393; 
    font-size: 14px; 
    font-family: var(--font-family); 
    font-weight: 500; 
    word-wrap: break-word; 
  }
  
  .tickets {
    text-align: center;
    color: #939393; 
    font-size: 14px; 
    font-family: var(--font-family); 
    font-weight: 500; 
    word-wrap: break-word; 
  }

  .h5 .p {
    color: #939393;
  }

  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, 1fr);
  }
  
  