.container{
    display: grid;
}

.rating{
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
    display: center;
  }
  
.fa-star {
    color: #FF7A00; 
    font-size: 14px;
  }
  
.rating-value {
    color: #939393; 
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: 800; 
    word-wrap: break-word; 
  }
  
.reviews {
    color: #939393; 
    font-size: 14px; 
    font-family: "DM Sans", sans-serif;
    font-weight: 500; 
    word-wrap: break-word; 
  }